@import '../../node_modules/bootstrap/scss/bootstrap';

body {
   background-color: #FFBF2D;
   overflow-x: hidden;
}
body.menu-active {
   overflow: hidden;
}

@import './fonts';


h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Ultra';
   font-style: normal;
}

h1 {
   font-weight: 400;
   line-height: 221px;
   text-align: center;
   letter-spacing: -2.18px;
   text-transform: capitalize;
   color: #2F5B0C;
   
   @media(min-width: 1200px) {
      font-size: 164px;
   }
}

h2 {
   font-weight: 400;
   line-height: 119.77%;
   text-align: center;
   letter-spacing: 0.533333px;
   text-transform: capitalize;
   color: #FFFFFF;
   margin: 0;
   margin-top: -32px;

   @media(min-width: 1200px) {
      font-size: 120px;
   }
   @media(min-width: 991px) {
      font-size: 62px;
      line-height: 75px;
   }

}

h3 {
   font-weight: 400;
   line-height: 84px;
   text-align: center;
   letter-spacing: 0.533333px;
   text-transform: capitalize;
   color: #FFFFFF;

   @media(min-width: 1200px) {
      font-size: 70px;
   }
}

h4 {
   font-weight: 400;
   line-height: 48px;
   letter-spacing: 0.819829px;
   text-transform: capitalize;
   color: #2F5B0C;

   @media(min-width: 1200px) {
      font-size: 40px;
   }
   @media(min-width: 991px) {
      font-size: 32px;
   }
}

h5 {
   font-family: "Ultra";
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 47px;
   letter-spacing: .444338px;
   color: #000;
   margin-bottom: 14px;


   @media(min-width: 991px) {
      font-size: 18px;
   }
}

h6 {
   font-family: "DM Sans";
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 38px;
   text-align: center;
   letter-spacing: .533333px;
   color: #000;


   @media(min-width: 991px) {
      font-size: 16px;
      line-height: 28px;
   }
} 

@import './mixins/nft_circle';
@import './mixins/nft_circle_blur';
@import './components/buttons.scss';
@import './layouts/header';
@import './layouts/footer';


@import './components/herobanner';
@import './components/nft_reveal';
@import './components/club';
@import './components/nft_community';
@import './components/roadmap';
@import './components/milestone';
@import './components/our_team';
@import './components/join_channel';
@import './media';

.three-section {
   position: relative;

   &:before {
      content: "";
      background-image: url(./../img/yellow-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      @media(max-width: 1199px) {
         top: -2%;
         height: 105%;
      }
   }

}