

@media(min-width: 1200px) {
    .container {
        max-width: 1080px;
    }
}
@media(min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}
@media(min-width: 1681px) {
    .container {
        max-width: 1320px;
    }
}
@media(max-width: 991px) {
    .set-1 {
        order: 1!important;
    }
    .set-2 {
        order: 2!important;
    }
}

@media(max-width: 767px) {
    .d-md-none {
        display: none;
    }
}