header {
   position: absolute;
   width: 100%;
   z-index: 1;

   nav.navbar {

      background: transparent;

      #navbarSupportedContent {
         flex-grow: initial;

         ul.navbar-nav {
            li {

               &:not(:last-child) {
                  margin-right: 35px;
               }

               a {
                  font-family: 'DM Sans Medium';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 21px;
                  letter-spacing: 0.533333px;
                  text-transform: capitalize;
                  color: #000000;
                  padding: 0;
               }
            }
         }
      }

      .navbar-brand {
         & > img {
            max-width: 124px;
         }
      }

      .social-links {
         list-style: none;
         padding: 0;
         margin: 0;

         li {
            display: inline-block;

            &:not(:last-child) {
               margin-right: 38px;
            }

            a {
               width: 58px;
               height: 58px;
               background: #FFFFFF;
               border: 2px solid #000000;
               border-radius: 100px;
               box-shadow: 0px 6px #000000;
               display: flex;
               align-items: center;
               justify-content: center;
               text-decoration: none;

               i.fa-brands {
                  color: #000;
                  font-size: 22px;
               }
            
            }
         }
      }
   }

   
}