.club {
   position: relative;
   padding-top: 400px;
   padding-bottom: 50px;

   .club-text-left {
      font-family: 'Ultra';
      font-style: normal;
      font-weight: 400;
      font-size: 199.451px;
      letter-spacing: 0.886448px;
      text-transform: capitalize;
      color: #2F5B0C;
      opacity: 0.05;
      transform: rotate(-90deg);
      position: absolute;
      left: -8%;
      top: 45%;
   }

   .club-smoky {
      background-image: url( './../img/club-smoky-img.png' );
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 1500px;
      position: absolute;
      top: -45%;
      left: 0%;
      z-index: -1;
   }

   .club-overlay-bg {
      background-image: url( './../img/club-overlay-img.png' );
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
   }
   
   &:before {
      content: '';
      background-image: url( './../img/leaf-left.png' );
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: -2.5%;
      width: 170px;
      height: 305px;
      z-index: 9;
   }

   &:after {
      content: '';
      background-image: url( './../img/leaf-right.png' );
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      bottom: 4%;
      width: 197px;
      height: 333px;
      z-index: 9;
   }

   .club-images {
      position: relative;

      .club-img-white-circle {
         background: #F6F6F6;
         filter: blur(50px);
         width: 646.49px;
         height: 636.36px;
         border-radius: 50%;
         position: absolute;
         left: -15%;
         top: 10%;
         z-index: -1;
      }

   }

   .club-content {
      font-family: 'Ultra';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 119.77%;
      letter-spacing: 0.819829px;
      text-transform: capitalize;
      color: #2F5B0C;

      h4 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 40px;
         line-height: 48px;
         letter-spacing: 0.819829px;
         text-transform: capitalize;
         color: #2F5B0C;
         margin-bottom: 7px;
         background: -webkit-linear-gradient(-90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-stroke: 6.61px transparent;
      }

      h3 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 70px;
         line-height: 84px;
         letter-spacing: -1.5px;
         text-transform: capitalize;
         color: #fff;
         margin-bottom: 36px;
         -webkit-text-stroke: 3px #000;
         text-shadow: -2px 8px #000;
         text-align: left;
      }

      h6 {
         font-family: 'DM Sans Medium';
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 38px;
         letter-spacing: 0.533333px;
         color: #000000;
      }
   }

   .club-buttons {
      margin-top: 35px;
   }
}