.join-channel {
   position: relative;
   padding-top: 255px;
   padding-bottom: 550px;

   @media(max-width: 1199px) {
      padding-top: 128px;
      padding-bottom: 350px;
   }
   @media(max-width: 767px) {
      padding-bottom: 250px;
   }

   .join-channel-left-leaf {
      background-image: url( './../img/join-left-leaf.png' );
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 7%;
      left: -5px;
      width: 181px;
      height: 303px;
      z-index: 1;

      @media(max-width: 1199px) {
         width: 100px;
         height: 150px;
         left: -3px;
      }
      @media(max-width:575px) {
         width: 50px;
         height: 95px;
      }
   }

   &:after {
      content: "";
      background-image: url( './../img/join-smoky-bg.png' );
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 92%;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 10%;
      left: -4%;
      z-index: -9;
   }

   .join-channel-title {

      position: relative;
      text-align: center;

      .join-arrow {
         background-image: url( './../img/join-spiral-arrow.svg' );
         background-repeat: no-repeat;
         background-size: contain;
         position: absolute;
         top: -60%;
         right: 4%;
         width: 177px;
         height: 198px;

         @media(max-width: 1680px) {
            top: -40%;
         }
         @media(max-width: 1199px) {
            display: none;
         }
      }

      h1 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 184.461px;
         line-height: 221px;
         text-align: center;
         letter-spacing: -2.18px;
         text-transform: capitalize;
         color: #2F5B0C;
         margin-bottom: 0;
         background: -webkit-linear-gradient(-90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-stroke: 6.61px transparent;

         @media(max-width: 1199px) {
            font-size: 62px;
            line-height: 80px;
         }
         @media(max-width: 575px) {
            font-size: 46px;
            line-height: 65px;
            margin-bottom: 35px;
         }
      }
      h2 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 120px;
         line-height: 144px;
         text-align: center;
         letter-spacing: 0.533333px;
         text-transform: capitalize;
         color: #FFFFFF;
         margin-bottom: 0;
         -webkit-text-stroke: 3px #000;
         text-shadow: 0px 15px #000;

         @media(max-width: 1199px) {
            font-size: 48px;
            line-height: 100px;
            text-shadow: 0px 5px #000;
            -webkit-text-stroke: 2px #000;
         }
         @media(max-width: 575px) {
            font-size: 38px;
            line-height: 44px;
         }
      }
   }
   .join-btn {
      margin-top: 62px;
      text-align: center;

      @media(max-width:991px) {
         margin-top: 31px;
      }

      .btn-primary {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 22.8411px;
         line-height: 27px;
         text-align: center;
         letter-spacing: 0.761371px;
         text-transform: capitalize;
         color: #2F5B0C;
         padding: 40px 185px;

         @media(max-width:1199px) {
            font-size: 16px;
            padding: 20px 92px;
         }
      }
   }
}