.join-channel {
   position: relative;
   padding-top: 255px;
   padding-bottom: 550px;

   .join-channel-left-leaf {
      background-image: url( './../img/join-left-leaf.png' );
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 7%;
      left: -5px;
      width: 181px;
      height: 303px;
      z-index: -1;
   }

   &:after {
      content: "";
      background-image: url( './../img/join-smoky-bg.png' );
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 92%;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 10%;
      left: -4%;
      z-index: -9;
   }

   .join-channel-overlay {
      background-image: url( './../img/yellow-bg.png' );
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 80%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
   }

   .join-channel-title {

      position: relative;
      text-align: center;

      .join-arrow {
         background-image: url( './../img/join-spiral-arrow.svg' );
         background-repeat: no-repeat;
         background-size: contain;
         position: absolute;
         top: -60%;
         right: 4%;
         width: 177px;
         height: 198px;
      }

      h1 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 184.461px;
         line-height: 221px;
         text-align: center;
         letter-spacing: -2.18px;
         text-transform: capitalize;
         color: #2F5B0C;
         margin-bottom: 0;
         background: -webkit-linear-gradient(-90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-stroke: 6.61px transparent;
      }
      h2 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 120px;
         line-height: 144px;
         text-align: center;
         letter-spacing: 0.533333px;
         text-transform: capitalize;
         color: #FFFFFF;
         margin-bottom: 0;
         -webkit-text-stroke: 3px #000;
         text-shadow: 0px 15px #000;
      }
   }
   .join-btn {
      margin-top: 62px;
      text-align: center;

      .btn-primary {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 22.8411px;
         line-height: 27px;
         text-align: center;
         letter-spacing: 0.761371px;
         text-transform: capitalize;
         color: #2F5B0C;
         padding: 40px 185px;
      }
   }
}