.milestone {
   padding-top: 195px;
   position: relative;

   @media(max-width:1199px) {
      padding-top: 100px;
   }

   .milestone-title {

      text-align: center;
      position: relative;

      h4 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 40px;
         line-height: 48px;
         letter-spacing: 0.819829px;
         text-transform: capitalize;
         color: #2F5B0C;
         margin-bottom: 8px;
         background: -webkit-linear-gradient(-90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-stroke: 6.61px transparent;
         margin-bottom: 24px;

         @media(max-width:1199px) {
            font-size: 26px;
            line-height: 48px;
         }
      } 

      h2 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 120px;
         line-height: 144px;
         text-align: center;
         letter-spacing: 0.533333px;
         text-transform: capitalize;
         color: #FFFFFF;
         -webkit-text-stroke: 3px #000;
         text-shadow: 0px 15px #000;

         @media(max-width:1199px) {
            font-size: 48px;
            line-height: 62px;
            text-shadow: 0px 6px #000;
            -webkit-text-stroke: 2px #000;
         }
         @media(max-width: 575px) {
            font-size: 38px;
            line-height: 44px;
         }
      }

      .milestone-logo {
         position: absolute;
         right: 3%;
         top: 63%;

         @media(max-width: 1680px) {
            right: -9%;
         }
         @media(max-width: 1500px) {
            right: -8%;
         }
         @media(max-width: 1350px) {
            right: -11%;
         }
         @media(max-width: 1199px) {
            right: 19%;

            img {
               max-width: 100px;
            }
         }
         @media(max-width: 991px) {
            right: 15%;
         }
         @media(max-width: 767px) {
            display: none;
         }
      }

   }

   .milestone-lists {
      margin-top: 157px;

      @media(max-width: 991px) {
         margin-top: 78px;
      }

      .milestone-list {

         margin-bottom: 115px;

         @media(max-width: 991px) {
            margin-bottom: 58px;
         }
         @media(max-width: 575px) {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
         }
   

         .milestone-content {
            background: #FFFFFF;
            border: 4px solid #000000;
            border-radius: 112.632px;
            padding: 69px 173px 74px 58px;
            max-width: 546.38px;
            box-shadow: -16px 11px #000;
            position: relative;

            @media(max-width: 1199px) {
               max-width: 100%;
               margin-top: 25px;
               box-shadow: -8px 6px #000;
               border: 3px solid #000;
            }
            @media(max-width: 575px) {
               padding: 70px 50px;
            }

            &:after {
               content: "";
               position: absolute;
               background-repeat: no-repeat;
               background-size: contain;
               border-bottom-right-radius: 52%;
               background-image: url('./../img/milestone-leaf-sm.png');
               bottom: 0px;
               right: 8px;
               width: 162px;
               height: 194px;
               z-index: 1;

               @media(max-width: 1199px) {
                  width: 100px!important;
                  height: 100px!important;
                  border-bottom-right-radius: 80%!important;
                  right: 20px!important;
               }
            }

            h4 {
               font-family: 'Ultra';
               font-style: normal;
               font-weight: 400;
               font-size: 33.7978px;
               line-height: 64px;
               letter-spacing: 0.600706px;
               color: #000000;
               margin-bottom: 28px;

               @media(max-width: 1199px) {
                  font-size: 26px;
                  line-height: 48px;
                  margin-bottom: 14px;
               }
               @media(max-width: 575px) {
                  font-size: 22px;
                  line-height: 38px;
               }
            }

            p {
               font-family: 'DM Sans';
               font-style: normal;
               font-weight: 500;
               font-size: 21.6306px;
               line-height: 35px;
               letter-spacing: 0.600706px;
               color: #000000;
               margin-bottom: 0;

               @media(max-width: 1199px) {
                  font-size: 14px;
                  line-height: 26px;
               }
               @media(max-width: 575px) {
                  font-size: 12px;
                  line-height: 21px;
               }
            }
         }

         &:nth-child(1) {
            .milestone-content {
               max-width: 658px;

               &:after {
                  border-bottom-right-radius: 55%;
                  background-image: url('./../img/milestone-leaf-bg.png');
                  bottom: -3px;
                  right: 2px;
                  width: 193px;
                  height: 199px;
               }

               @media(max-width: 1199px) {
                  max-width: 100%;
                  width: 100%;
               }
            }
         }
         &:nth-child(even) {
            .milestone-content {
               float: right;

               @media(max-width: 1199px) {
                  max-width: 100%;
                  width: 100%;
                  float: none;
               }
            }

            &:after {
               content: "";
               display: block;
               height: 0;
               clear:both;
               visibility: hidden;
            }
         }
         
         .milestone-image {
            text-align: center;

            @media(max-width: 1199px) {
               img {
                  max-width: 35%;
                  width: 100%;
               }
            }
            @media(max-width: 575px) {
               img {
                  max-width: 50%;
               }
            }
         }

         @media(max-width:757px) {
            .milestone-content {
               &:after {
                  width: 50px !important;
                  height: 55px !important;
                  border-bottom-right-radius: 70% !important;
                  right: 48px !important;
               }
            }
         }

         
      }
   }

   .milestone-founder {

      text-align: center;
      max-width: 672px;
      margin: 0 auto;

      h6 {
         font-family: 'DM Sans';
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 32px;
         text-align: center;
         letter-spacing: 0.600706px;
         color: #000000;

         @media(max-width: 1199px) {
            font-size: 14px;
            line-height: 26px;
         }
         @media(max-width: 575px) {
            font-size: 14px;
            line-height: 26px;
         }
      }
   }
}