.nft-reveal {

   margin-top: -10px;
   position: relative;
   background-color: #fffdf0;
   padding-bottom: 195px;

   @media(max-width: 1680px) {
      padding-bottom: 240px;
      margin-top: -50px;
   }
   @media(max-width: 1199px) {
      padding-bottom: 100px;
   }
   @media(max-width: 767px) {
      padding-bottom: 75px;
   }
   
   
   &:before {
      content: "";
      background: url('./../img/nft-reveal-top-bg.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      position: absolute;
      top: -5%;
      width: 100%;
      height: 134px;

      @media(max-width: 1680px) {
         top: -4%;
      }
      @media(max-width: 1199px) {
         top: -6%;
      }
      @media(max-width: 1063px) {
         top: -4%;
      }
      @media(max-width: 767px) {
         top: -2%;
      }
   }

   &:after {
      content: "";
      background: url('./../img/nft-reveal-bottom-bg.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      position: absolute;
      bottom: -5.5%;
      width: 100%;
      height: 128px;
      z-index: 1;

      @media(max-width: 1680px) {
         bottom: -4.5%;
      }
      @media(max-width: 1406px) {
         bottom: -3.5%;
      }
      @media(max-width: 1350px) {
         bottom: -4.5%;
      }
      @media(max-width: 1199px) {
         bottom: -5%;
      }
      @media(max-width: 866px) {
         bottom: -4%;
      }
      @media(max-width: 776px) {
         bottom: -3.5%;
      }
      @media(max-width: 767px) {
         bottom: -4%;
      }
      @media(max-width: 588px) {
         bottom: -3.5%;
      }
      @media(max-width: 575px) {
         bottom: -3.2%;
      }
      @media(max-width: 420px) {
         bottom: -2.5%;
      }
      @media(max-width: 350px) {
         bottom: -20px;
      }
   }

   .nft-circle {
      @include roundShape();
      transform: translate(-50%, -215%);
      z-index: -1;

      @media(max-width:1680px) {
         top: 56%;
      }
      @media(max-width:1500px) {
         top: 60%;
      }
      @media(max-width:1250px) {
         top: 65%;
      }
      @media(max-width:1199px) {
         width: 500px;
         height: 500px;
         top: 67%;
      }
      @media(max-width: 991px) {
         top: 76%;
      }
      @media(max-width: 767px) {
         width: 300px;
         height: 300px;
         top: 50%;
      }
      @media(max-width: 575px) {
         top: 55%;
      }
      @media(max-width: 348px) {
         top: 50%;
      }
   }

   .nft-circle-blur {
      @include roundShapeBlur();
      transform: translate(-50%, -400%);

      @media(max-width:1680px) {
         top: 56%;
      }
      @media(max-width:1500px) {
         top: 60%;
      }
      @media(max-width:1199px) {
         width: 450px;
         height: 190px;
      }
      @media(max-width:767px) {
         width: 250px;
         height: 190px;
         top: 65%;
      }
      @media(max-width: 575px) {
         top: 70%;
      }
      
   }

   .nft-bottom-arrow {
      background-image: url( './../img/spiral-left-arrow.svg' );
      background-repeat: no-repeat;
      background-size: 75%;
      position: absolute;
      left: 20%;
      bottom: -93px;
      width: 250px;
      height: 307px;
      z-index: 9;
      
      @media(max-width: 1680px) {
         left: 19%;
         bottom: -32px;
         width: 250px;
         height: 290px;
      }
      @media(max-width: 1500px) {
         left: 16%;
      }
      @media(max-width: 1199px) {
         background-size: 60%;
         width: 238px;
         height: 180px;
         bottom: 76px;
         left: 18%;
      }
      @media(max-width: 1199px) {
         display: none;
      }
   }

   .nft-text-right {
      font-family: 'Ultra';
      font-style: normal;
      font-weight: 400;
      font-size: 199.451px;
      line-height: 239px;
      text-align: center;
      letter-spacing: 0.886448px;
      text-transform: capitalize;
      color: #2F5B0C;
      opacity: 0.05;
      transform: rotate(-90deg);
      position: absolute;
      right: -41%;
      top: 47%;
      overflow: hidden;

      @media(max-width: 1807px) {
         right: -44%;
      }
      @media(max-width: 1750px) {
         right: -44%;
         line-height: 128px;
         top: 47%;
         font-size: 180px;
      }
      @media(max-width: 1600px) {
         right: -46%;
      }
      @media(max-width: 1500px) {
         right: -50%;
         line-height: 150px;
      }
      @media(max-width: 1450px) {
         font-size: 140px;
         right: -39%;
      }
      @media(max-width: 1350px) {
         right: -42%;
      }
      @media(max-width: 1250px) {
         font-size: 120px;
         right: -38%;
         top: 35%;
      }
      @media(max-width: 1199px) {
         display: none;
      }
      
   }

   .join-wailist {
      position: relative;

      .join-wailist-leaf {
         position: relative;
         left: 306px;
         top: -200px;
         width: 50%;

         @media(max-width:1680px) {
            left: 201px;
            top: -184px;
         }
         @media(max-width:1199px) {
            left: 200px;
            top: -145px;

            img {
               max-width: 400px;
            }
         }
         @media(max-width:991px) {
            left: 70px;
            top: -115px;
         }
         @media(max-width:767px) {
            left: 27%;
            top: -135px;

            img {
               max-width: 250px;
            }
         }
         @media(max-width: 575px) {
            left: 17%;
         }
         @media(max-width: 375px) {
            left: 12%;
         }
         @media(max-width: 330px) {
            left: 7%;
         }
         
      }

      .joinbox-form {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -57%);
         width: 100%;

         .joinbox-wrap {
            display: flex;
            max-width: 666px;
            margin: 0 auto;
            border-radius: 100px;
            box-shadow: 0px 6px #000;

            &>input {
               background: #FFFFFF;
               flex: 1;
               padding : 32px 10px 38px 43px;
               font-family: 'DM Sans';
               font-style: normal;
               font-weight: 500;
               font-size: 20px;
               line-height: 26px;
               letter-spacing: 0.533333px;
               text-transform: capitalize;
               color: #000000;
               border-style: solid;
               border-color: #000000;
               -webkit-border-top-left-radius: 100px;
               -webkit-border-bottom-left-radius: 100px;
               border-top-left-radius: 100px;
               border-bottom-left-radius: 100px;
               border-right: 0;

               &:focus,
               &:focus-visible {
                  border-color: #000000;
                  outline: #000000;
               }

               @media(max-width: 767px) {
                  font-size: 14px;
                  padding: 20px;
               }
               @media(max-width: 375px) {
                  font-size: 12px;
                  padding: 12px;
               }
            }

            &>button {
               padding: 10px 12px;
               background-color: #FFFFFF;
               border-style: solid;
               border-color: #000000;
               -webkit-border-top-right-radius: 100px;
               -webkit-border-bottom-right-radius: 100px;
               -moz-border-radius-topright: 100px;
               -moz-border-radius-bottomright: 100px;
               border-top-right-radius: 100px;
               border-bottom-right-radius: 100px;
               border-left: 0;
               cursor: pointer;

               @media(max-width: 767px) {
                  padding: 8px;
               }

               span {
                  // margin-left: 50px;
                  padding: 24px 45px;
                  border-radius: 100px;
                  font-family: 'Ultra';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 24px;
                  text-align: center;
                  letter-spacing: 0.819829px;
                  text-transform: capitalize;
                  color: #2F5B0C;
                  background-color: #FFD166;

                  &:hover {
                     background-color: #FFD166;
                  }

                  @media(max-width: 767px) {
                     padding: 18px;
                     font-size: 14px;
                  }
                  @media(max-width: 390px) {
                     font-size: 12px;
                     padding: 14px;
                  }
                  @media(max-width: 375px) {
                     font-size: 10px;
                     padding: 12px;
                  }

               }
            }

            @media(max-width: 375px) {
               max-width: 100%;
            }
         }
      }

      .spiral-arrow {
         position: absolute;
         right: 70px;
         top: 47%;

         @media(max-width: 1680px) {
            right: 45px;
         }
         @media(max-width: 1680px) {
            img {
               max-width: 180px;
            }
         }
         @media(max-width: 1350px) {
            right: 15px;
         }
         @media(max-width: 1199px) {
            img {
               max-width: 120px;
            }
         }
         @media(max-width: 1199px) {
            display: none;
         }
         
      }

   }

   .nft-reveal-title {
      position: relative;
      margin-top: -5%;

      @media(max-width:1680px) {
         margin-top: -12%;
      }

      h4 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 58px;
         line-height: 69px;
         letter-spacing: 0.491367px;
         text-transform: capitalize;
         color: #000000;

         background: #FFFFFF;
         border: 3px solid #000000;
         border-radius: 50%;

         display: flex;
         align-items: center;
         justify-content: center;
         width: 180px;
         height: 180px;
         margin: 0;

         @media(max-width: 1199px) {
            font-size: 26px;
            height: 100px;
            width: 100px;
         }
         @media(max-width: 575px) {
            font-size: 22px;
            height: 75px;
            width: 75px;
         }
      }

      h1 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 164px;
         line-height: 221px;
         text-align: center;
         letter-spacing: -2.18px;
         text-transform: capitalize;
         color: #2F5B0C;
         margin-top: -105px;
         margin-left: -72px;
         -webkit-text-stroke: 5px #FFFDF0;

         @media(max-width: 1680px) {
            font-size: 130px;
         }
         @media(max-width: 1199px) {
            font-size: 62px;
            -webkit-text-stroke: 2px #fffdf0;
            text-align: left;
            margin-left: 0;
            margin-left: 20px;
         }
         @media(max-width: 575px) {
            font-size: 46px;
            line-height: 65px;
            margin-top: -30px;
         }
         @media(max-width: 368px) {
            margin-left: 0;
         }
      }
   }

   .reveal-images {
      margin-top: 70px;
      overflow: hidden;

      @media(max-width: 1199px) {
         margin-top: 0;
      }

      ul {
         list-style: none;
         padding: 0;
         margin-left: -5%;
         display: flex;

         li {
            display: inline;
            padding: 0 19.25px;

            img {
               border-radius: 30%;
               width: 400.5px;
               height: 438.1px;
               
               @media(max-width: 1800px) {
                  width: 372px;
                  height: 420px;
               }
               @media(max-width: 1700px) {
                  width: 348px;
                  height: 400px;
               }
               @media(max-width: 1680px) {
                  width: 345px;
                  height: 360px;
               }
               @media(max-width: 1600px) {
                  width: 325px;
               }
               @media(max-width: 1500px) {
                  width: 300px;
                  height: 350px;
               }
               @media(max-width: 1450px) {
                  width: 290px;
                  height: 310px;
               }
               @media(max-width: 1350px) {
                  width: 268px;
                  height: 300px;
               }
               @media(max-width: 1200px) {
                  width: 235px;
                  height: 260px;
               }
               @media(max-width: 1199px) {
                  width: 235px;
                  height: auto;
               }
               @media(max-width:991px) {
                  width: 190px;
               }
               
            }
         }

         &:nth-child(2) {
            margin-top: 65px;
            margin-left: -8.8%;

            @media(max-width: 1199px) {
               margin-top: 32px;
            }
         }
      }

      
   }
}