.nft-reveal {

   margin-top: -10px;
   position: relative;
   background-color: #fffdf0;
   padding-bottom: 195px;
   
   
   &:before {
      content: "";
      background: url('./../img/nft-reveal-top-bg.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
      position: absolute;
      top: -5%;
      width: 100%;
      height: 134px;
   }

   &:after {
      content: "";
      background: url('./../img/nft-reveal-bottom-bg.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%;
      position: absolute;
      bottom: -5.5%;
      width: 100%;
      height: 128px;
      z-index: 1;
   }

   .nft-circle {
      @include roundShape();
      transform: translate(-50%, -215%);
      z-index: -1;
   }

   .nft-circle-blur {
      @include roundShapeBlur();
      transform: translate(-50%, -400%);
   }

   .nft-bottom-arrow {
      background-image: url( './../img/spiral-left-arrow.svg' );
      background-repeat: no-repeat;
      background-size: 75%;
      position: absolute;
      left: 20%;
      bottom: -93px;
      width: 250px;
      height: 307px;
      z-index: 9;
   }

   .join-wailist {
      position: relative;

      .join-wailist-leaf {
         position: relative;
         left: 306px;
         top: -200px;
         width: 50%;
      }

      .joinbox-form {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -57%);
         width: 100%;

         .joinbox-wrap {
            display: flex;
            max-width: 666px;
            margin: 0 auto;
            border-radius: 100px;
            box-shadow: 0px 6px #000;

            &>input {
               background: #FFFFFF;
               flex: 1;
               padding : 32px 10px 38px 43px;
               font-family: 'DM Sans';
               font-style: normal;
               font-weight: 500;
               font-size: 20px;
               line-height: 26px;
               letter-spacing: 0.533333px;
               text-transform: capitalize;
               color: #000000;
               border-style: solid;
               border-color: #000000;
               -webkit-border-top-left-radius: 100px;
               -webkit-border-bottom-left-radius: 100px;
               border-top-left-radius: 100px;
               border-bottom-left-radius: 100px;
               border-right: 0;
            }

            &>button {
               padding: 10px 12px;
               background-color: #FFFFFF;
               border-style: solid;
               border-color: #000000;
               -webkit-border-top-right-radius: 100px;
               -webkit-border-bottom-right-radius: 100px;
               -moz-border-radius-topright: 100px;
               -moz-border-radius-bottomright: 100px;
               border-top-right-radius: 100px;
               border-bottom-right-radius: 100px;
               border-left: 0;
               cursor: pointer;

               span {
                  // margin-left: 50px;
                  padding: 24px 45px;
                  border-radius: 100px;
                  font-family: 'Ultra';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 24px;
                  text-align: center;
                  letter-spacing: 0.819829px;
                  text-transform: capitalize;
                  color: #2F5B0C;
                  background-color: #FFD166;

                  &:hover {
                     background-color: #FFD166;
                  }

               }
            }
         }
      }

      .spiral-arrow {
         position: absolute;
         right: 70px;
         top: 47%;
      }

   }

   .nft-reveal-title {
      position: relative;
      margin-top: -5%;

      h4 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 58px;
         line-height: 69px;
         letter-spacing: 0.491367px;
         text-transform: capitalize;
         color: #000000;

         background: #FFFFFF;
         border: 3px solid #000000;
         border-radius: 50%;

         display: flex;
         align-items: center;
         justify-content: center;
         width: 180px;
         height: 180px;
         margin: 0;
      }

      h1 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 164px;
         line-height: 221px;
         text-align: center;
         letter-spacing: -2.18px;
         text-transform: capitalize;
         color: #2F5B0C;
         margin-top: -105px;
         margin-left: -72px;
      }
   }

   .reveal-images {
      margin-top: 70px;
      overflow: hidden;

      ul {
         list-style: none;
         padding: 0;
         margin-left: -5%;
         display: flex;

         li {
            display: inline;
            padding: 0 19.25px;

            img {
               border-radius: 30%;
               width: 400.5px;
               height: 438.1px;
            }
         }

         &:nth-child(2) {
            margin-top: 65px;
            margin-left: -8.8%;
         }
      }
   }
}