.roadmap {
   position: relative;
   background: #FFFDF0;
   margin-top: 190px;
   padding-top: 110px;
   padding-bottom: 110px;

   @media(max-width: 1903px) {
      padding-bottom: 130px;
   }
   @media(max-width: 1750px) {
      padding-bottom: 150px;
   }
   @media(max-width: 1199px) {
      margin-top: 80px;
      padding-top: 80px;
      padding-bottom: 80px;
   }

   &:before {
      content: "";
      background: url(./../img/roadmap-top-bg.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      position: absolute;
      top: -130px;
      width: 100%;
      height: 139px;
      z-index: 1;

      @media(max-width:1795px) {
         top: -120px;
      }
      @media(max-width:1659px) {
         top: -110px;
      }
      @media(max-width: 1680px) {
         top: -90px;
      }
      @media(max-width: 1239px) {
         top: -62px;
      }
      @media(max-width: 991px) {
         top: -50px;
      }
      @media(max-width: 767px) {
         top: -2%;
      }
      @media(max-width: 575px) {
         top: -1.5%;
      }
      @media(max-width: 350px) {
         top: -20px;
      }
   }

   &:after {
      content: "";
      background: url(./../img/roadmap-bottom-bg.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      position: absolute;
      width: 100%;
      height: 121px;
      z-index: 1;
      padding-bottom: 230px;

      @media(max-width: 1903px) {
         padding-bottom: 240px;
      }
      @media(max-width: 1680px) {
         padding-bottom: 250px;
      }
      @media(max-width: 1582px) {
         padding-bottom: 240px;
      }
      @media(max-width: 1406px) {
         padding-bottom: 235px;
      }
      @media(max-width: 1344px) {
         padding-bottom: 230px;
      }
      @media(max-width: 1265px) {
         padding-bottom: 228px;
      }
      @media(max-width: 1233px) {
         padding-bottom: 225px;
      }
      @media(max-width:1199px) {
         padding-bottom: 0;
         bottom: -3.5%;
      }
      @media(max-width: 979px) {
         bottom: -2.5%;
      }
      @media(max-width: 767px) {
         bottom: -1.5%;
      }
      @media(max-width: 404px) {
         bottom: -22px;
      }
      @media(max-width: 350px) {
         bottom: -17px;
      }
   }


   .roadmap-text-left {
      font-family: 'Ultra';
      font-style: normal;
      font-weight: 400;
      font-size: 199.451px;
      line-height: 239px;
      text-align: center;
      letter-spacing: 0.886448px;
      text-transform: capitalize;
      color: #2F5B0C;
      opacity: 0.05;
      transform: rotate(-90deg);
      position: absolute;
      left: -28%;
      top: 42%;
      z-index: 1;

      @media(max-width:1807px) {
         left: -30%;
      }
      @media(max-width:1750px) {
         line-height: 1;
         left: -33%;
      }
      @media(max-width:1600px) {
         left: -36%;
      }
      @media(max-width:1500px) {
         left: -40%;
         line-height: 150px;
      }
      @media(max-width:1406px) {
         font-size: 160px;
         left: -33%;
      }
      @media(max-width:1350px) {
         font-size: 140px;
         left: -30%;
      }
      @media(max-width:1250px) {
         left: -28%;
         font-size: 120px;
      }
      @media(max-width:1199px) {
         display: none;
      }
      
   }

   
   .roadmap-title {
      text-align: center;
      h4 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 40px;
         line-height: 48px;
         letter-spacing: 0.819829px;
         text-transform: capitalize;
         color: #2F5B0C;
         background: -webkit-linear-gradient(-90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-stroke: 6.61px transparent;
         margin-bottom: 24px;

         @media(max-width: 1199px) {
            font-size: 26px;
            line-height: 48px;
         }
      }
      h2 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 120px;
         line-height: 144px;
         text-align: center;
         letter-spacing: 0.533333px;
         text-transform: capitalize;
         color: #FFFFFF;
         -webkit-text-stroke: 3px #000;
         text-shadow: 0 15px #000;

         @media(max-width: 1199px) {
            font-size: 48px;
            line-height: 72px;
            text-shadow: 0px 6px #000;
            -webkit-text-stroke: 2px #000;
         }
         @media(max-width: 575px) {
            font-size: 38px;
            line-height: 44px;
            text-shadow: 0px 5px #000;
         }
      }
   }

   .roadmap-timeline-lists {
      margin-top: 70px;
      position: relative;

      ul {
         list-style: none;
         padding: 0;
         margin: 0;

         &:before {
            content: "";
            position: absolute;
            left: 45%;
            top: 0;
            display: block;
            width: 104px;
            height: 106%;
            background-image: url( './../img/timeline-tree-bg.png' );
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            @media(max-width: 1199px) {
               background-image: none;
            }
         }

         li {

            @media(max-width:1199px) {
               margin-bottom: 80px;
               padding-top: 0px!important;
               margin-top: 0px!important;
            }

            &:after {
               content: "";
               display: block;
               height: 0;
               clear: both;
               visibility: hidden;
            }

            .roadmap-timeline {
               width: 412px;
               height: 280px;
               background: #FFFFFF;
               border: 3px solid #000000;
               border-radius: 83.3133px;
               padding: 75px 96px 66px 48px;
               box-shadow: -10.18px 8px #000;
               position: relative;

               @media(max-width: 1199px) {
                  width: 100%;
               }
               @media(max-width: 575px) {
                  padding: 75px 50px;
               }

               &:after {
                  content: "";
                  position: absolute;
                  right: 8px;
                  bottom: -1px;
                  background-image: url(./../img/roadmap-leaf.png);
                  background-repeat: no-repeat;
                  background-size: contain;
                  border-bottom-right-radius: 50%;
                  z-index: 1;
                  width: 120px;
                  height: 120px;

                  @media(max-width: 1199px) {
                     width: 75px!important;
                     height: 75px!important;
                     right: 27px;
                  }
               }

               .roadmap-timeline-line {
                  position: relative;

                  @media(max-width: 1199px) {
                     display: none;
                  }

                  &:before {
                     position: absolute;
                     right: -145%;
                     top: -51px;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     background: #fff;
                     z-index: 10;
                     width: 117.41px;
                     height: 117.41px;
                     border: 3px solid #000;
                     border-radius: 50%;
                     font-family: "Ultra";
                     font-style: normal;
                     font-weight: 400;
                     font-size: 49.4269px;
                     line-height: 119.77%;
                     text-align: center;
                     letter-spacing: .219675px;
                     text-transform: capitalize;
                     color: #fff;
                     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                     box-shadow: 0px 8.45px #000;

                     @media(max-width: 1680px) {
                        right: -115%;
                     }
                     @media(max-width: 1350px) {
                        right: -104%;
                     }
                  }
                  &:after {
                     content: "";
                     width: 237.4px;
                     height: 5px;
                     position: absolute;
                     left: 133%;
                     top: 38px;
                     transform: rotate(-13.61deg);
                     background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
                     background-position: top;
                     background-size: 20px 5px;
                     background-repeat: repeat-x;
                     
                     @media(max-width: 1680px) {
                        width: 181.4px;
                        left: 137%;
                        top: 22px;
                     }
                  }
               }

               .roadmap-timeline-img {
                  position: absolute;
                  top: -10%;
                  right: 10%;
                  width: 74.7px;
                  height: 74.7px;
                  border-radius: 50%;
                  box-shadow: 0.5px 6px #000;
               }

               .roadmap-timeline-content {
                  h5 {
                     font-family: 'Ultra';
                     font-style: normal;
                     font-weight: 400;
                     font-size: 25px;
                     line-height: 47px;
                     letter-spacing: 0.444338px;
                     color: #000000;
                     margin-bottom: 14px;

                     @media(max-width: 1199px) {
                        font-size: 18px;
                        line-height: 30px;
                     }
                  }
                  p {
                     font-family: 'DM Sans';
                     font-style: normal;
                     font-weight: 500;
                     font-size: 16px;
                     line-height: 26px;
                     letter-spacing: 0.444338px;
                     color: #000000;
                     margin-bottom: 0;

                     @media(max-width: 1199px) {
                        font-size: 14px;
                        line-height: 26px;
                     }
                  }
               }

               &.direction-l {
                  @media(min-width: 992px) {
                     float: left;
                  }
               }

               &.direction-r {
                  @media(min-width: 992px) {
                     float: right;
                  }
               }
               
            }

            &:nth-child(1) {
               padding-top: 95px;

               .roadmap-timeline {
                  .roadmap-timeline-line {
                     &:before {
                        content: "01";
                     }
                  }
               }
            }
            &:nth-child(2) {
               margin-top: -25px;

               .roadmap-timeline {
                  &:after {
                     background-image: url(./../img/roadmap-leaf-sm.png);
                     width: 122px;
                     height: 107px;
                     border-bottom-right-radius: 72%;
                     bottom: -1px;
                     right: -4px;


                     @media(max-width: 1199px) {
                        border-bottom-right-radius: 90%;
                        bottom: -4px;
                        right: 13px;
                     }


                  }

                  .roadmap-timeline-line {
                     &:before {
                        content: "02";
                        left: -137%;
                        top: -42px;

                     
                        @media(max-width: 1680px) {
                           left: -99%;
                        }
                        @media(max-width: 1350px) {
                           left: -87%;
                        }
                     }
                     &:after {
                        left: -110%;
                        transform: rotate(-172.96deg);

                        @media(max-width: 1680px) {
                           left: -90%;
                        }
                        @media(max-width: 1350px) {
                           width: 176.4px;
                        }
                     }
                  }
               }
            }
            &:nth-child(3) {
               margin-top: 50px;

               .roadmap-timeline {
                  .roadmap-timeline-line {
                     &:before {
                        content: "03";
                     }
                  }
               }
            }
            &:nth-child(4) {
               margin-top: -30px;

               .roadmap-timeline {

                  
                  &:after {
                     background-image: url(./../img/roadmap-leaf-sm.png);
                     width: 122px;
                     height: 107px;
                     border-bottom-right-radius: 72%;
                     bottom: -1px;
                     right: -4px;

                     @media(max-width: 1199px) {
                        border-bottom-right-radius: 90%;
                        bottom: -4px;
                        right: 13px;
                     }
                  }

                  .roadmap-timeline-line {
                     &:before {
                        content: "04";
                        left: -137%;
                        top: -42px;

                        @media(max-width: 1680px) {
                           left: -99%;
                        }
                        @media(max-width: 1350px) {
                           left: -87%;
                        }
                     }
                     &:after {
                        left: -110%;
                        transform: rotate(-172.96deg);
                        
                        @media(max-width: 1680px) {
                           left: -90%;
                        }
                        @media(max-width: 1350px) {
                           width: 176.4px;
                        }
                     }
                  }

               }
            }
         }
      }
   }
}