.roadmap {
   position: relative;
   background: #FFFDF0;
   margin-top: 190px;
   padding-top: 110px;
   padding-bottom: 110px;

   .roadmap-text-left {
      font-family: 'Ultra';
      font-style: normal;
      font-weight: 400;
      font-size: 199.451px;
      line-height: 239px;
      text-align: center;
      letter-spacing: 0.886448px;
      text-transform: capitalize;
      color: #2F5B0C;
      opacity: 0.05;
      transform: rotate(-90deg);
      position: absolute;
      left: -28%;
      top: 42%;
      z-index: 1;
   }

   &:before {
      content: "";
      background: url(./../img/roadmap-top-bg.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
      position: absolute;
      top: -130px;
      width: 100%;
      height: 139px;
      z-index: 1;
   }

   &:after {
      content: "";
      background: url(./../img/roadmap-bottom-bg.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%;
      position: absolute;
      width: 100%;
      height: 121px;
      z-index: 1;
      padding-bottom: 230px;
   }

   .roadmap-title {
      text-align: center;
      h4 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 40px;
         line-height: 48px;
         letter-spacing: 0.819829px;
         text-transform: capitalize;
         color: #2F5B0C;
         background: -webkit-linear-gradient(-90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%);
         -webkit-background-clip: text;
         -webkit-text-stroke: 6.61px transparent;
      }
      h2 {
         font-family: 'Ultra';
         font-style: normal;
         font-weight: 400;
         font-size: 120px;
         line-height: 144px;
         text-align: center;
         letter-spacing: 0.533333px;
         text-transform: capitalize;
         color: #FFFFFF;
         -webkit-text-stroke: 3px #000;
         text-shadow: 0 15px #000;
      }
   }

   .roadmap-timeline-lists {
      margin-top: 70px;
      position: relative;

      ul {
         list-style: none;
         padding: 0;
         margin: 0;

         &:before {
            content: "";
            position: absolute;
            left: 45%;
            top: 0;
            display: block;
            width: 104px;
            height: 106%;
            background-image: url( './../img/timeline-tree-bg.png' );
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
         }

         li {

            &:after {
               content: "";
               display: block;
               height: 0;
               clear: both;
               visibility: hidden;
            }

            .roadmap-timeline {
               width: 412px;
               height: 280px;
               background: #FFFFFF;
               border: 3px solid #000000;
               border-radius: 83.3133px;
               padding: 75px 96px 66px 48px;
               box-shadow: -10.18px 8px #000;
               position: relative;

               &:after {
                  content: "";
                  position: absolute;
                  right: 8px;
                  bottom: -1px;
                  background-image: url(./../img/roadmap-leaf.png);
                  background-repeat: no-repeat;
                  background-size: contain;
                  border-bottom-right-radius: 50%;
                  z-index: 1;
                  width: 120px;
                  height: 120px;
               }

               .roadmap-timeline-line {
                  position: relative;

                  &:before {
                     position: absolute;
                     right: -152%;
                     top: -51px;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     background: #fff;
                     z-index: 10;
                     width: 117.41px;
                     height: 117.41px;
                     border: 3px solid #000;
                     border-radius: 50%;
                     font-family: "Ultra";
                     font-style: normal;
                     font-weight: 400;
                     font-size: 49.4269px;
                     line-height: 119.77%;
                     text-align: center;
                     letter-spacing: .219675px;
                     text-transform: capitalize;
                     color: #fff;
                     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                     box-shadow: 0px 8.45px #000;
                  }
                  &:after {
                     content: "";
                     width: 237.4px;
                     height: 5px;
                     position: absolute;
                     left: 133%;
                     top: 38px;
                     transform: rotate(-13.61deg);
                     background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
                     background-position: top;
                     background-size: 20px 5px;
                     background-repeat: repeat-x;
                  }
               }

               .roadmap-timeline-img {
                  position: absolute;
                  top: -10%;
                  right: 10%;
                  width: 74.7px;
                  height: 74.7px;
                  border-radius: 50%;
                  box-shadow: 0.5px 6px #000;
               }

               .roadmap-timeline-content {
                  h5 {
                     font-family: 'Ultra';
                     font-style: normal;
                     font-weight: 400;
                     font-size: 25px;
                     line-height: 47px;
                     letter-spacing: 0.444338px;
                     color: #000000;
                     margin-bottom: 14px;
                  }
                  p {
                     font-family: 'DM Sans';
                     font-style: normal;
                     font-weight: 500;
                     font-size: 16px;
                     line-height: 26px;
                     letter-spacing: 0.444338px;
                     color: #000000;
                     margin-bottom: 0;
                  }
               }

               &.direction-l {
                  float: left;
               }

               &.direction-r {
                  float: right;
               }
               
            }

            &:nth-child(1) {
               padding-top: 95px;

               .roadmap-timeline {
                  .roadmap-timeline-line {
                     &:before {
                        content: "01";
                     }
                  }
               }
            }
            &:nth-child(2) {
               margin-top: -25px;

               .roadmap-timeline {
                  &:after {
                     background-image: url(./../img/roadmap-leaf-sm.png);
                     width: 122px;
                     height: 107px;
                     border-bottom-right-radius: 72%;
                     bottom: -1px;
                     right: -4px;
                  }

                  .roadmap-timeline-line {
                     &:before {
                        content: "02";
                        left: -139%;
                        top: -42px;
                     }
                     &:after {
                        left: -110%;
                        transform: rotate(-172.96deg);
                     }
                  }
               }
            }
            &:nth-child(3) {
               margin-top: 50px;

               .roadmap-timeline {
                  .roadmap-timeline-line {
                     &:before {
                        content: "03";
                     }
                  }
               }
            }
            &:nth-child(4) {
               margin-top: -30px;

               .roadmap-timeline {

                  .roadmap-timeline-line {
                     &:before {
                        content: "04";
                        left: -139%;
                        top: -42px;
                     }
                     &:after {
                        left: -110%;
                        transform: rotate(-172.96deg);
                     }
                  }

                  &:after {
                     background-image: url(./../img/roadmap-leaf-sm.png);
                     width: 122px;
                     height: 107px;
                     border-bottom-right-radius: 72%;
                     bottom: -1px;
                     right: -4px;
                  }
               }
            }
         }
      }
   }
}