@mixin roundShapeBlur() {

   width: 646px;
   height: 308px;
   background: #F6F6F6;
   border-radius: 50%;
   filter: blur(50px);
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   // @media(max-width:992px) {
   //     display: none;
   // }
}