@mixin roundShape() {
    position: absolute;
    width: 589px;
    height: 589px;
    background: #F9F0E1;
    filter: blur(150px);
    border-radius: 50%;

    @media(max-width:992px) {
        display: none;
    }
}